main {
    section {
        margin: 0 auto;
        width: 90%;
    }
    .blog,
    .arcticle {
        margin-bottom: 135px;
        color: #b4ad9e;
        font-family: Ubuntu;
        font-size: 10px;
        font-weight: 300;
        text-transform: uppercase;
        h4 {
            margin: 28px 0 34px 0;
            color: #626262;
            font-family: "Playfair Display";
            font-size: 30px;
            font-weight: 400;
        }
        p {
            margin-bottom: 52px;
            color: #626262;
            font-family: "Playfair Display";
            font-size: 11px;
            font-weight: 400;
            line-height: 24px;
            text-transform: none;
        }
        a {
            color: #b4ad9e;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    .post {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .arcticle {
            margin-bottom: 0;
            width: 45%;
            img {
                width: 100%;
            }
            h4 {
                font-size: 20px;
            }
        }
    }
}